.navbar-collapse{
  display: flex;
  justify-content: space-between;
}
.navbar-list{
  margin:0 auto;
}
.container{
  display: flex;
}
.lead-text{
  font-size: 25px;
  font-style: italic;
  color: grey;
}
.navbar-nav a{
  font-size: 18px;
}
.disclaimer{
  font-size: 12px;
  background-color: rgb(129, 37, 37);
  padding: 12px;
  color: #fff;
}
.col{
  margin: 5px;
  padding: 15px;
  border-radius: 12px;
}
.col a{
  text-decoration: none;
  font-size: 22px;
  color: #20ac97;
}
.btnActive i{
  background: white;
  color: rgb(17, 118, 169);
  font-size: 25px;
  border: 5px solid rgb(17, 118, 169);
  padding: 10px 15px;
  border-radius: 100%;
}
.btnActive i:active{
  background-color: rgb(17, 118, 169);
  color: white;
  transform: rotate(180deg);
}


.card-img-overlay .container{
  background-color: rgb(9, 54, 31);
  opacity: .8;
  color: white;
  border-radius: 12px;
}
form{
  margin: 5% auto;
}
.social-icon a i{
  font-size: 28px;
  padding: 8px;
}

.contact {
   padding: 20px;
  }
 .contact img {
   width: 90%;
 }
 .contact h2 {
   font-size: 45px;
   font-weight: 700;
   margin-bottom: 30px;
 }
 
 form input, .contact form textarea {
   width: 100%;
   background: #999b9c;
   border: 1px solid rgba(255, 255, 255, 0.5);
   border-radius: 20px;
   color: #fff;
   margin: 5px auto;
   padding: 18px 26px;
   font-weight: 500;
   font-size: 18px;
   letter-spacing: 0.8px;
   transition: 0.3s ease-in-out;
 }
 form input:focus, .contact form textarea:focus {
   color: #121212;
   background-color: #fff;
   outline: 1px solid #000;
 }
  form input::placeholder, .contact form textarea::placeholder {
   font-size: 16px;
   font-weight: 400;
   color: #fff;
 }
 form input:focus::placeholder, .contact form textarea:focus::placeholder {
   color: #121212;
   opacity: 0.8;
 }
 form button {
   font-weight: 700;
   color: #20ac97;
   padding: 14px 48px;
   font-size: 18px;
   margin-top: 25px;
   border-radius: 0;
   position: relative;
   transition: 0.3s ease-in-out;
   background-color: #999b9c;
   color: #fff !important;
 }
 form button:hover {
   color: #000 !important;
   background-color: #fff;
   
   
 }
 
  form button::before {
   content: "";
   background: #fff;
   width: 0;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   transition: 0.3s ease-in-out;
 }
 .contact p{
   line-height: 1.5em;
 }
 
 @media screen and (max-width:575px) {
   .navbar-collapse{
    display: block;
    padding: 15px;
   }
 }
 @media screen and (max-width:414px) {
  .navbar-collapse{
   display: block;
   padding: 15px;
  }
}
@media screen and (max-width:390px) {
  .navbar-collapse{
   display: block;
   padding: 15px;
  }
}